extends layouts/layout.pug

block pageTitle
	- var title_en="New Request | SNB RDD"
	- var title_ar="New Request | SNB RDD"
	- var desc_en=""
	- var isAdmin=false
	- var isRequester=true
	- var desc_ar=''
	- var link_en=""
	- var link_ar=""

block content
	-
		const users = [
			{ initials: 'KH', name: 'Khalid Hafiz', email: 'strah.j@example.com' },
			{ initials: 'MR', name: 'Maryam Radwan', email: 'strah.j@example.com' },
			{ initials: 'LT', name: 'Lamia Tariq', email: 'John.smith@example.com' },
			{ initials: 'AM', name: 'Abdul Majeed', email: 'John.smith@example.com' },
			{ initials: 'HA', name: 'Hassan Al-Omran', email: 'strah.j@example.com' },
			{ initials: 'MF', name: 'Maha Faisal Alsanooni', email: 'strah.j@example.com' }
		]

	-
		const sidebarData = [
			{ link: "request.html", name:"Requests" },
			//- { link: "#", name:"test2"},
			//- { link: "#", name:"test3"},
		]

	.flex.bg-gray-100.min-h-screen

		+sidebar(sidebarData)

		// Main Content
		.flex-1.p-6.pb-0
			.flex.justify-between.items-center.mb-6
				h1.text-xl.font-semibold New Request

			div(class="bg-white p-4 rounded relative")
				include includes/components/loader.pug

				//- Tabs
				div(class="flex gap-4 mb-6" id="tabs")
					each tab, i in ["SNB Brand", "Public Relations", "Marketing"]
						button(
							type="button"
							class=(i === 0 ? "tab-btn flex-1 active-tab" : "tab-btn flex-1")
							data-tab=`tab${i + 1}`
						)
							i.material-symbols-outlined(style=`font-size: 22px`, class='rtl:rotate-[270deg]') #{["branding_watermark", "handshake", "campaign"][i]}
							//- span.text-2xl #{["ðŸ¢", "ðŸ’¬", "ðŸ“£"][i]}
							span.mt-2 #{tab}

				//- Tab Contents
				#tabContents
					#tab1.tab-content

						form#projectRequestForm

							.form-field
								label(class="md:text-md text-base  font-medium leading-[150%] normal-case tracking-[1.5%] block pb-[10px]") Is it a new request?
								.flex.gap-4.mt-2
									+radio('request-yes', 'request', 'Yes', true)
									+radio('request-no', 'request', 'No')

							.grid.grid-cols-1(class="md:grid-cols-3 gap-6")
								.form-field
									+formSelect("Brand Services", "Branding Digital Assets", ["Branding Event", "Branding Production", "Branding Assets", "Branding Guideline"], "", "w-full")

								.form-field
									+formSelect("Requestor", "Branch Banking Division", ["SNB academy", "HR", "Internal Programs", "Businesses"], "", "w-full")

								.form-field
									+formSelect("Services Related to", "Social Media post - Video /static", ["Digital design assets", "Production & creatives", "Event creatives", "Proofreading/Translation"], "", "w-full")

							h2.text-lg.font-semibold.mb-4.mt-12 Project Brief

							.form-field
								+formTextArea("Project Overview", "", "", "w-full")

							.form-field.mt-4
								+formTextArea("Objective", "", "", "w-full")

							.form-field.mt-4
								+formTextArea("Requirements & Assets needed", "", "", "w-full")

							.flex(class="gap-6 mt-6")
								.form-field.flex-1
									+formInput("Expected Launch date", "mm/dd/yyyy", "date", "data", "", "")
								.form-field.flex-1
									label(class="md:text-md text-base  font-medium leading-[150%] normal-case tracking-[1.5%] block pb-[10px]") Budget Required
									.flex.gap-4.mt-2
										+radio('option-1', 'example', 'Yes', true)
										+radio('option-2', 'example', 'No')

							.flex(class="gap-6 mt-6")
								.form-field.flex-1
									label(class="md:text-md text-base  font-medium leading-[150%] normal-case tracking-[1.5%] block pb-[10px]") Is this request urgent ?
									.flex.gap-4.mt-2.mb-4
										+radio('urgent-1', 'urgent', 'Yes', true)
										+radio('urgent-2', 'urgent', 'No')
									p.text-xs.-mt-3 If yes, please include GH approval in the attachment section
								.form-field.flex-1
									+formInput("Amount", "", "text", "amount", "", "")


							.flex(class="gap-6 mt-6 mb-3")
								.form-field.flex-1
									div(class="min-w-[300px]")
										label(for="file-upload" class="md:text-md text-base mb-2 font-medium leading-[150%] normal-case tracking-[1.5%] block pb-[10px]") Upload files
										div(class="flex items-center gap-4")
											label(
												for="file-upload"
												class="cursor-pointer bg-green hover:bg-lightGreen text-white font-semibold py-2 px-4 rounded transition"
											)
												| Choose File
											input(
												type="file"
												id="file-upload"
												class="hidden"
												onchange="handleFileUpload(event)"
											)
											span#file-name.text-sm.text-gray-600 No file selected

							+btn('Submit Request', '', 'arrow_forward_ios', '12', 'submitBtn mt-4')

					#tab2.tab-content.hidden
						h6 This is Public Relations content
					#tab3.tab-content.hidden
						h6 This is Marketing content
					//- each content, i in ["This is SNB Brand content", "This is Public Relations content", "This is Marketing content"]
						div(
							id=`tab${i + 1}`
							class=(i === 0 ? "tab-content" : "tab-content hidden")
						)
							p.text-gray-700 #{content}

	script.
		function handleFileUpload(event) {
			const fileInput = event.target;
				const fileNameDisplay = document.getElementById('file-name');

				if (fileInput.files.length > 0) {
					fileNameDisplay.textContent = fileInput.files[0].name;
				} else {
					fileNameDisplay.textContent = 'No file selected';
				}
			}
		document.addEventListener("DOMContentLoaded", function () {

			// Tab functionality

			const tabButtons = document.querySelectorAll('.tab-btn');
			const tabContents = document.querySelectorAll('.tab-content');

			tabButtons.forEach(button => {
				button.addEventListener('click', () => {
					const target = button.getAttribute('data-tab');

					// Remove active class from all buttons
					tabButtons.forEach(btn => btn.classList.remove('active-tab'));

					// Hide all tab contents
					tabContents.forEach(content => content.classList.add('hidden'));

					// Activate clicked tab
					button.classList.add('active-tab');
					document.getElementById(target).classList.remove('hidden');
				});
			});


			const navLinks = document.querySelectorAll('.md\\:space-x-8 a');
			const currentPage = window.location.pathname.split('/').pop();

			navLinks[0].classList.remove('border-primary-500', 'text-gray-900');
			navLinks[0].classList.add('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');

			navLinks[1].classList.remove('border-transparent', 'text-gray-500', 'hover:border-gray-300', 'hover:text-gray-700');
			navLinks[1].classList.add('border-primary-500', 'text-gray-900');


			const submitBtn = document.querySelector('.submitBtn');
			const loader = document.getElementById('loaderOverlay');

			submitBtn.addEventListener('click', (e) => {
				e.preventDefault(); // Prevent actual form submission

				loader.classList.remove('hidden');

				setTimeout(() => {
					loader.classList.add('hidden');
					//- Success message
					Toastify({
						text: "New request has been submitted successfully!",
						duration: 3000,
						position: "center",
						//- close: true,
						stopOnFocus: true,
						//- gravity: "bottom",
						style: {
							background: "linear-gradient(to left, #0c7560, #00b09b)" 
						}
					}).showToast();
				}, 3000); // Spinner shows for 2 seconds
			});



		});